@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: '#FF595A';
      --primary-foreground: 210 40% 98%;

      --secondary: '#000611';
      --secondary-foreground: '#FF595A';

      --muted: '#000611';
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: '#000611';
      --accent-foreground: '#FF595A';

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: '#000611';
      --foreground: 210 40% 98%;

      --card: '#000611';
      --card-foreground: 210 40% 98%;

      --popover: '#000611';
      --popover-foreground: 210 40% 98%;

      --primary: '#FF595A';
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: '#F5F4FB';
      --secondary-foreground: '#FF595A';

      --muted: '#F5F4FB';
      --muted-foreground: 215 20.2% 65.1%;

      --accent: '#F5F4FB';
      --accent-foreground: '#FF595A';

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: '#FF595A';

      --border: '#F5F4FB';
      --input: '#F5F4FB';
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  /* Typography */
  @layer components {
    .display-large {
      @apply font-sans font-recSemiBold text-textLarge tracking-[-1px]
    }

    .display-one {
      @apply font-sans font-recBold text-headerOne tracking-[-0.75px]
    }

    .display-two {
      @apply font-sans font-recSemiBold text-headerTwo tracking-[-0.5px]
    }

    .display-three {
      @apply font-sans font-recSemiBold text-headerThree tracking-[-0.5px]
    }

    .display-four {
      @apply font-sans font-recMedium text-headerFour tracking-[-0.25px]
    }

    .display-five {
      @apply font-sans font-recMedium text-headerFive tracking-[-0.25px]
    }

    .display-six {
      @apply font-sans font-recMedium text-headerSix tracking-[0.5px]
    }

    .display-body {
      @apply font-sans font-recRegular text-textBody leading-[0.5px]
    }

    .display-small {
      @apply font-sans font-recRegular text-textSmall leading-[0.75px]
    }

    .btn-text {
      @apply font-sans font-recMedium text-textBody leading-[20px]
    }
  }